@model VotingApp.Core.Models.ApplicationUser
<form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-nav ml-auto">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link">Hello @Model.Email!</a>
        </li>
        <li class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Polls
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" asp-controller="Polls" asp-action="Add">Add Poll</a>
                <a class="dropdown-item" asp-controller="Polls" asp-action="MyPolls">My Polls</a>
            </div>
        </li>
        <li class="nav-item">
            <button type="submit" class="btn btn-secondary">Log out</button>
        </li>
    </ul>
</form> 