@model  AccountLoginViewModel

<form asp-controller="Account" asp-action="Login" method="post"
      asp-route-returnUrl="@Model.ReturnUrl">
    <h4>Login.</h4>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-default">Login</button>
</form>